.mt-10 {
    margin-top: 10px;
}
.mt-50 {
    margin-top: 50px;
}
.ml-10 {
    margin-left: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-4em{
    margin-right: 4em;
}
.m10{
    margin: 2em 10em 0 10em;
}
.maxwidth-400px{
    max-width: 400px;
}
.maxwidth-50x{
    max-width: 70%;
    margin: auto;
    border-radius: 20px;
    background-color: lightblue;
}
.divbuttomlogin{
    margin: auto;
    display: flex;
    max-width: fit-content;
    margin-top: 2em;
}
.optionnavbar{
    font-size: 1.2em;
}
.optionlogin{
    display: inline-block;
    max-width: fit-content;
    margin-top: 2em;
}
.optionresetpsw{
    display: inline-block;
    margin-top: 2em;
}
