.mt-10 {
    margin-top: 10px;
}
.mt-50 {
    margin-top: 50px;
}
.ml-10 {
    margin-left: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-4em{
    margin-right: 4em;
}
.maxwidth-400px{
    max-width: 400px;
}
.maxwidth-50x{
    max-width: 70%;
    margin: auto;
    border-radius: 20px;
    background-color: lightblue;
}
p{
    padding-top: 5px;
}